.box{
    width: 200px;
    height: 300px;
    background-color: blueviolet;
}
.box{
    width: 200px;
    height: 300px;
    background-color: rgb(138, 43, 226);
}
.box{
    width: 200px;
    height: 300px;
    background-color: hsl(271, 76%, 53%);
}
.box{
    width: 200px;
    height: 300px;
    background-color: #8a2be2;
}
